@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    90deg,
    rgba(8, 11, 11, 1) 1%,
    rgba(14, 44, 52, 1) 99%
  );
}

.logo h1 {
  letter-spacing: 5px;
  color: whitesmoke;
  text-shadow: 0 0 15px aliceblue;
  padding-top: 10px;
  font-size: 24px;
}

.logo a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.navbar ul li a:hover {
  text-shadow: 0 0 15px whitesmoke;
  text-decoration: underline;
}

.main {
  color: white;
  margin-top: 150px;
  text-align: center;
}

.main h1 {
  font-size: 50px;
}

.main h1 > span {
  color: #00b4d8;
}

.main h3 {
  color: #3a86ff;
  font-size: 40px;
}

.main .span::before {
  content: "Software Developer";
  color: blue;
  animation: words 5s infinite;
  font-size: 42px;
}

.main .span::after {
  content: "";
  background-color: white;
  height: 50px;
  width: 3px;
  display: inline-block;
  margin-left: 3px;
  animation: cursor-blink 0.7s infinite;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Software Developer";
  }
}

.main button {
  background-color: #007bff;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
}

.main button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.main .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.main .social-icons a {
  width: 3rem;
  height: 3rem;
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: cornflowerblue;
  font-size: 20px;
}

.main .social-icons a:hover {
  border: 1px solid white;
  color: white;
  background-color: black;
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 0 10px blue;
}

.hakkımızda-alanı {
  margin-top: 270px;
  color: white;
  padding-left: 10px;
}

.hakkımızda-alanı h1 {
  color: #25e;
  text-shadow: 0 0 15px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}

.hakkımızda-alanı p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.iletisim-alanı {
  color: white;
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
  background-color: white;
  width: 500px;
  height: auto;
  margin: 15px auto;
  margin-top: 200px;
  box-shadow: 0 0 25px whitesmoke;
}

.iletisim-alanı h1 {
  color: #25e;
  text-shadow: 0 0 15px;
  font-size: 30px;
  margin-bottom: 30px;
}

.iletisim-alanı form label {
  font-size: 20px;
  color: black;
  display: block;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}

.iletisim-alanı form input {
  width: 100%;
  text-align: center;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid #3a86ff;
}

.iletisim-alanı form input[type="submit"] {
  width: 80%;
  height: 50px;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  margin: 10px;
  background: #25e;
  cursor: pointer;
}

.iletisim-alanı form input[type="submit"]:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px #3a86ff;
}

footer h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 60px;
  margin-left: 10px;
}
